<div class="add_padding">
  <h1>Learns</h1>
  <% if user_signed_in? %>
    <% if current_user.role=="full_admin" %>
      <p id="notice"><%= notice %></p>
      <%= link_to 'New Learn', new_learn_path %>
    <% end %>
  <% end %> 

 <%# <table>
    <thead>
      <tr>
        <th>Title</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @learns.each do |learn| %>
 <%#       <tr>
          <td><%= learn.learntitle %> <%#</td>
          <td><%= link_to 'Show', learn %> <%#</td>
          <% if user_signed_in? %>
  <%#           <% if current_user.role=="full_admin" %>
 <%#              <td><%= link_to 'Edit', edit_learn_path(learn) %> <%#</td>
              <td><%= link_to 'Destroy', learn, method: :delete, data: { confirm: 'Are you sure?' } %> <%#</td>
            <% end %>
          <%# <% end %>
        <%# </tr>
      <% end %>
    <%# </tbody>
  </table> %>
<div class="flexi">
  <div>
    <ul class="containerwrap">
      <% @learns.each do |learn| %>
        <li class="childwrap" onmouseover="this.style.cursor='pointer'" onClick="window.location.href='<%= learn_path(learn) %>';">
          <h3><%= learn.learntitle %></h3>

          <p class="box3lines"><%= raw learn.text.gsub(/\n/, '<br/>').html_safe %></p>
          
          </li>
      <% end %>
    </ul>
  </div>

  <div class="ads160by600">
    <script type="text/javascript">
    google_ad_client = "ca-pub-8344756613466881";
    google_ad_slot = "7468412161";
    google_ad_width = 160;
    google_ad_height = 600;
    </script>
    <!-- Learn ad -->
    <script type="text/javascript"
    src="//pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
  </div>
</div>

  <br>
</div>


