<div class="add_padding_top_bottom">
	

		
	<div id="learnbackground">
		<h1><%= @learn.learntitle %></h1>
		<% if user_signed_in? %>
		  <% if current_user.role=="full_admin" %>
		    <p id="notice"><%= notice %></p>
		    <%= link_to 'Edit', edit_learn_path(@learn) %> |
		    <%= link_to 'Back', learns_path %>
		  <% end %>
		<% end %> 
		<div id="learntext">
			<p>
			<%= raw @learn.text.gsub(/\n/, '<br/>').html_safe %>
			</p>
		</div>
	</div>
</div>
