<div class="add_padding">
<h1>Select your gear!</h1> 
<h2>Filter option</h2>

<p>Filter per brand</p>
 <%= select_tag(:brand, options_for_select([['-', "-"],['BMW', "bmw"], ['Ducati', "ducati"],['Honda', "honda"], ['Suzuki', "suzuki"],['Kawasaki', "kawasaki"],['Yamaha', "Yamaha"]]), :onchange => 'filter_function()') %>

 <p>Filter per type</p>
 <%= select_tag(:type, options_for_select([['-', "-"],['Sportbike', "sportbike"], ['Cruiser', "cruiser"],['Honda', "honda"], ['Suzuki', "suzuki"],['Kawasaki', "kawasaki"],['Yamaha', "Yamaha"]]), :onchange => 'filter_function()') %>



<table id="bike_table">
<thead>
    <tr>
      <th>Brand</th>
      <th>Name</th>
      <th>Picture</th>
      <th class="mobileHide">Type</th>
      <th class="mobileHide">Cyclinder</th>
      <th class="mobileHide" >Horse Power</th>
      <th class="mobileHide">Weight</th>
      <th class="mobileHide">Price</th>
    </tr>
  </thead>
 
 <tbody>
  <% @bikes.each do |bike| %>
    <tr onmouseover="this.style.cursor='pointer'" onClick="window.location.href='<%= bike_path(bike) %>';">
      <td><%= bike.brand %></td>
      <td><%= bike.bike_name %></td>
      <td><%= image_tag(bike.picturebike, width: '120') if bike.picturebike.attachment.present? %></td>
      <td class="mobileHide"><%= bike.bike_type %></td>
      <td class="mobileHide"><%= bike.cylinder_cc %> CC</td>
      <td class="mobileHide"><%= bike.power_hp %></td>
      <td class="mobileHide"><%= bike.weight_lb %></td>
      <td class="mobileHide"><%= bike.price_usd %></td>

      <% if user_signed_in? %>
        <% if current_user.role=="full_admin" %>
          <td><%= image_tag(bike.picturetop, width: '120') if bike.picturetop.attachment.present? %></td>
          <td><%= image_tag(bike.picture2, width: '120') if bike.picture2.attachment.present? %></td>
          <% if !bike.Youtubereview1.blank? %>
            <td>youtubereview1
          <% end %>
          <% if !bike.Youtubereview2.blank? %>
            <td>youtubereview2
          <% end %>


          <td><%= link_to 'Edit', edit_bike_path(bike) %></td>
          <td><%= link_to 'Destroy', bike_path(bike),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></td>   
        <% end %>
      <% end %>

    </tr>
  <% end %>
  </tbody>
</table>
</div>


<script src="assets/bike_menu_filter.js"></script>




