<!-- bike picture -->




<div style="background: no-repeat url(<%= rails_blob_url(@bike.picturetop)%>) 50% / 100%;position: relative;">
   <img src="<%= rails_blob_url(@bike.picturetop)%>" style="height:100%; width: 100%; object-fit: contain;visibility: hidden;vertical-align: top;" />


   <div class="picturetobackground">
     <div id="nothing_left">
     </div>
     <div id="menu_right">
      <div id="inside_menu">  
       <div class="name_bar_logo">
        <% (1..Logo.count).each do |k| %>
          <% if Logo.find(k).name.downcase == @bike.brand.downcase %>
            <%= image_tag(rails_blob_url(Logo.find(k).image), style:'height: 100px;') %>
          <% end %>
        <% end %> 
       </div>
       <div id="name_bar_title" class="name_bar_logo">
         <p><h2><%= @bike.bike_name %></h2></p>
       </div>
       <div>
         <li>Type > <%= @bike.bike_type %></li>
         <li>Displacement > <%= @bike.cylinder_cc %> CC</li>
         <li>Power > <%= @bike.power_hp %> HP</li>
         <li>Weight > <%= @bike.weight_kg %>kg</li>
         <li>Price > $<%= @bike.price_usd %></li>
       </div> 
       <div class="name_bar_logo">
         <%= image_tag(@bike.picturebike, style:'width: 350px;') %>
       </div>
      </div>
     </div>
   </div>
</div>



<!--INTRODUCTION -->
  <div id="style" class="flexi">
    <div class="title_left">
      <div class="title_left_up">       
          <h2>Introduction</h2>
      </div>    
    </div>
    <div class="text_right">
      <h3><%= @bike.intro.split("\n").first%></h3>
      <p><%= @bike.intro.gsub(@bike.intro.split("\n").first + "\n",'').gsub(/\n/, '<br/>').html_safe %></p>            
      </div>
  </div>

  <!-- bike picture -->
<div id="bike_background">
<%= image_tag @bike.picture2, :style=>"height:100%; width: 100%; object-fit: contain" if @bike.picture2.attachment.present? %>
<!--<img src="/assets/bike/<%= @bike.brand.parameterize.underscore %>/<%= @bike.bike_name.parameterize.underscore %>/<%= @bike.year %>/big2.jpg" style='height:100%; width: 100%; object-fit: contain' /> -->
</div>

  <!--Youtube review-->
  <% if !(@bike.Youtubereview1.blank?) %>
    <% if @bike.Youtubereview2.blank? %>
      <div id="style" class="flexi">    
        <div class="title_left">
          <div class="title_left_up">  
              <h2>Review of the <%= @bike.brand %> <%= @bike.bike_name %></h2>
          </div>
        </div>
        <div class="text_right">
          <%= raw @bike.Youtubereview1 %>
        </div>
      </div>

    <% else %>

      <div class="text_right">
        <h3>Review of the <%= @bike.brand %> <%= @bike.bike_name %></h3>
        <%= raw @bike.Youtubereview1 %>
        <%= raw @bike.Youtubereview2 %>
      </div>
    <% end %>
  <% end %>


  <!--CONCLUSION -->
  <div id="style" class="flexi">
    <div class="title_left">
    <div class="title_left_up">       
        <h2>Conclusion</h2>
    </div>    
    </div>
    <div class="text_right">
      <h3><%= @bike.conclusion.split("\n").first%></h3>
      <p><%= @bike.conclusion.gsub(@bike.conclusion.split("\n").first + "\n",'').gsub(/\n/, '<br/>').html_safe %></p>  
    </div>
  </div>


