<div id="forum_main">

	<div id="forum_left_main" class="add_padding">
		<% (1..Forumcateg.count).each do |i| %>
			<% (1..Forumcateg.count).each do |k| %>
				<% if Forumcateg.find(k).order == i %>
  					<h2><%= Forumcateg.find(k).titl %></h2>
  				<% end %>
  			<% end %>	 
		<% end %>
	</div>

	<div id="forum_left_right">
		<div class="add_padding">
			<h2>Latest posts</h2>	
			<ul>
				<% @posts.each do |post| %>
			      		<li class="forum_box" onmouseover="this.style.cursor='pointer'" onClick="window.location.href='<%= post_path(post) %>';">
			      			<h3 class="colored_blue"><%= post.title %></h3>
							<p class="colored_gray" style="float:right"><%= time_ago_in_words(post.created_at) %> ago by  <%= post.user.username %> </p> 
							<p class="colored_dark_gray"><%= Forumcateg.find(post.categ).titl %></p>
							<div id="forum_post_list">
								<% if post.image.attachment.present? %>
									<div class="forum_small_pic">
										<%= image_tag post.thumbnail , width: '200' %>
									</div>
								<% end %>
								<div id="forum_post_right">
									<p style="padding-left: 10px" class="post_extract"><%= post.content %></p>
									<!--  <%= post.user.email %> -->
								</div>
							</div>
						</li>					
				<% end %>
			</ul>
			<% if user_signed_in? %>
				<%= link_to "New Post", new_post_path %>
			<% else %>
				<%= link_to "Sign up to post", new_user_registration_path %>
			<% end %>
		</div>
	</div>

</div>
