
<%= simple_form_for (@newspost), html: { multipart: true} do |f| %>
	<p>
		<%= f.input :title %>
		<%= f.input :text %>
		<%= f.file_field :image %>

	</p>
	<p>
    	<%= f.submit %>
  	</p>
<% end %>
